.group-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
}

.flex-container {
  display: flex;
}

.btn-add {
  text-align: right;
}