.login-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.mg-paper {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 100px !important;
}