.profile-name {
  font-family: 'Montserrat';
  font-weight: 600;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: left;
  font-size: 1rem !important;
}

.profile-detail-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  text-align: left;
}

.edit-icon {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: right;
}

.bold-text {
  font-weight: 600;
  font-size: 14px;
}

.detail-font {
  font-size: 12px;
}